<div>
    <ul>
        <li><a class="text-dark" asp-area="" asp-controller="feeding" asp-action="index">Latest Feedings</a></li>
        <li><a class="text-dark" asp-area="" asp-controller="feeding" asp-action="all">All Feedings</a></li>
    </ul>
</div>