<div>
    <ul>
        <li><a class="text-dark" asp-area="" asp-controller="schedule" asp-action="all">All Schedules</a></li>
        <li><a class="text-dark" asp-area="" asp-controller="schedule" asp-action="create">Create Schedule</a></li>
    </ul>
</div>