<div>
    <ul>
        <li><a class="text-dark" asp-area="" asp-controller="watering" asp-action="index">Latest Waterings</a></li>
        <li><a class="text-dark" asp-area="" asp-controller="watering" asp-action="all">All Waterings</a></li>
    </ul>
</div>