[Unit]
Description=Pet Feeder Worker by almostengr
After=network.target
Documentation=https://thealmostengineer.com/petfeeder

[Service]
Type=simple
Restart=always
ExecStart=/home/pi/petfeeder/Almostengr.PetFeeder.Monitor/Almostengr.PetFeeder.Monitor
User=pi

[Install]
WantedBy=multi-user.target
