[Unit]
Description=Pet Feeder Backend by almostengr
After=network.target
Documentation=https://thealmostengineer.com/petfeeder

[Service]
Type=simple
Restart=always
ExecStart=/home/pi/petfeeder/Almostengr.PetFeeder.Api/Almostengr.PetFeeder.Api
User=pi

[Install]
WantedBy=multi-user.target
