@model FeedingViewModel

<form method="post" action="/feeding/create">
    <div>
        Are you sure you want to feed your pet?
    </div>
    <div>
        <button type="submit" id="submit">Yes</button>
        <a href="/feeding">No</a>
    </div>
</form>