@model List<FeedingViewModel>
@* @ViewBag["Title"] = "Feedings"; *@

<div class="row">
    @* <div class="col-2 bg-dark text-white">Feeding ID</div> *@
    <div class="col-2 bg-dark text-white">Date/Time</div>
    <div class="col-2 bg-dark text-white">Scheduled?</div>
</div>

@foreach (var item in Model)
{
    string wasScheduled = item.ScheduleId > 0 ? "Yes" : "No";

    <div class="row">
    @* <div class="col-2 px-1">@item.Id</div> *@
    <div class="col-2 px-1">@item.Timestamp</div>
    <div class="col-2 px-1">@wasScheduled</div>
    </div>
}