@model List<FeedingViewModel>

<div class="row pb-3">
    <div class="col-8">
        <h1>Latest Feedings</h1>
        @* <a class="nav-link text-dark" asp-area="" asp-controller="feeding" asp-action="all">All Feedings</a> *@
    </div>
    <div class="col-2 text-right">
        <form method="POST" class="text-right" action="/feeding/createfeeding">
            <input type="hidden" name="ScheduleId" id="ScheduleId" value="0" />
            <button type="submit" id="submit" class="btn btn-success">Feed Now</button>
        </form>
    </div>
    <div class="col-2 text-right">
        <a href="/feeding/all"><button type="submit" id="submit" class="btn btn-secondary">All</button></a>
    </div>
</div>

@if (Model.Count > 0)
{
    <div class="row">
        <div class="col bg-dark text-white">Date/Time</div>
        <div class="col bg-dark text-white">Scheduled</div>
    </div>

    @foreach (var item in Model)
    {
        string wasScheduled = item.ScheduleId > 0 ? "Yes" : "No";

        <div class="row">
            <div class="col px-1">@item.Timestamp</div>
            <div class="col px-1">@wasScheduled</div>
        </div>
    }
}
else {
    <h2 class="text-center">No feedings have occurred.</h2>
}