@inject Almostengr.PetFeeder.Api.Enums.DayFrequency DayFrequency
@model Almostengr.PetFeeder.Web.Models.ScheduleViewModel

<h1>Feeding</h1>

<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="feeding" asp-action="all">All Feedings</a>
</div>

<form method="post"asp-controller="feeding" asp-action="CreateUpdate">
    <input type="hidden" name="id" id="id" value="@Model.Id" asp-for="@Model.Id" />
    <div>
        <label for="frequency">Frequency</label>
        <select asp-for="@Model.Frequency" name="frequency" id="frequency" class="form-control" asp-items="Html.GetEnumSelectList<DayFrequency>()">
        </select>
    </div>
    <div>
        <label for="isActive">Enabled</label>
        <input type="checkbox" name="isActive" asp-for="@Model.IsActive" />
    </div>
    <div>
        <button type="submit" name="submit">Save</button>
    </div>
</form>