@model ScheduleDto

<h1>Feeding</h1>

<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="feeding" asp-action="all">All Feedings</a>
</div>

<form method="post"asp-controller="schedule" asp-action="CreateUpdate">
    <input type="hidden" name="id" id="id" value="@Model.ScheduleId" asp-for="@Model.ScheduleId" />
    <div>
        <label for="frequency">Frequency</label>
        <select asp-for="@Model.Frequency" required name="frequency" id="frequency" class="form-control" asp-items="Html.GetEnumSelectList<DayFrequency>()">
        <option>Select Frequency</option>
        </select>
    </div>
    <div>
        <label for="isActive">Enabled</label>
        <input type="checkbox" name="isActive" id="isActive" value="true" asp-for="@Model.IsActive" />
    </div>
    <div>
        <button type="submit" name="submit">Save</button>
    </div>
</form>