@model List<ScheduleDto>

<div class="row">
    <div class="col-8">
        <h1>Schedules</h1>
    </div>
    <div class="col-4 text-right">
        <a href="/schedule/create"><button id="submit" class="btn btn-secondary">Create</button></a>
    </div>
</div>

@if (Model.Count > 0)
{
    <div class="row bg-dark text-white">
    <div class="col">Schedule Time</div>
    <div class="col">Occurrence</div>
    <div class="col">Amount</div>
    <div class="col">Active</div>
    <div class="col">Actions</div>
    </div>

    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col">@item.ScheduledTime</div>
            <div class="col">@item.Frequency</div>
            <div class="col">@item.FeedingAmount</div>
            <div class="col">@item.IsActive</div>
            <div class="col">
                <form method="get" action="/schedule/edit/@item.ScheduleId">
                    <button type="submit" class="btn btn-danger">Edit</button>
                </form>
                <form method="post" action="/schedule/delete/@item.ScheduleId">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    }
}
else
{
    <h2 class="text-center my-2">No schedules have been created.</h2>
}