@model List<ScheduleViewModel>

<div class="row bg-dark text-white">
    <div class="col-2">Schedule Time</div>
    <div class="col-2">Occurrence</div>
    <div class="col-2">Active</div>
</div>
@foreach (var item in Model)
{
    <div class="row">
    <div class="col-2">@item.ScheduledTime</div>
    <div class="col-2">@item.Frequency</div>
    <div class="col-2">@item.IsActive</div>
    <div class="col-2">
        <a class="nav-link text-dark" href="/schedules/edit/@item.Id">Edit</a>
        <a class="nav-link text-dark" href="/schedule/delete/@item.Id">Delete</a>
    </div>
</div>
}