@model List<ScheduleViewModel>
@ViewData["Title"] = "Scheduled Feeding";

<div class="row bg-dark text-white">
    <div class="col-2">Schedule Time</div>
    <div class="col-2">Occurrence</div>
    <div class="col-2">Active</div>
</div>
@foreach (var item in Model)
{
    <div class="row">
    <div class="col-2">@item.ScheduledTime</div>
    <div class="col-2">@item.Frequency</div>
    <div class="col-2">@item.IsActive</div>
</div>
}