<div class="row">
    <div class="col-8">
        <h1>Night Light</h1>
    </div>
    <div class="col-2 text-right">
        <form method="post" action="/nightlight/on">
            <button class="btn btn-success" type="submit">On</button>
        </form>
    </div>
    <div class="col-2 text-right">
        <form method="post" action="/nightlight/off">
            <button class="btn btn-danger" type="submit">Off</button>
        </form>
    </div>
</div>