@model List<WateringViewModel>

<h1>Latest Waterings</h1>

<div class="row">
    <div class="col-2 bg-dark text-white">Date/Time</div>
</div>

@foreach (var item in Model)
{
    <div class="row">
    <div class="col-2 px-1">@item.WateringTime</div>
</div>
}

<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="watering" asp-action="all">All Waterings</a>
</div>